.oculto {
    display: none;
}

* {
    box-sizing: border-box; /* Incluye el padding y border dentro del width y height */
}



#foto-uruz-principal {
    width: 100%;
    height: 380px;
    object-fit: cover;
}


.contenedor-password-login,
.contenedor-password-registro {
    position: relative; 
    width: 100%;
}


/* El botón del ojo */
#btn-ver-password-login,
#btn-ver-password-registro {
    position: absolute;
    right: 10px; 
    top: 50%;       
    transform: translateY(-50%); 
    
    background: none;  
    border: none;    
    cursor: pointer;
    font-size: 18px;    /* Tamaño del emoji */
    padding: 0;
    margin-top: 0;
}

/* Ajustamos el input para que el texto no se escriba encima del ojo */
.contenedor-password input {
    width: 100%;
    padding-right: 40px; /* Dejo espacio a la derecha para el icono */
}



/* Para que los botones de iniciar sesión y registrarse estén centrados*/
.contenedor-principal {
    text-align: center;
    max-width: 840px;
    /* Que no se estire demasiado a lo ancho */
    margin: 1px auto;
    /* Espacio que hay entre bienvenidos y que deseas hacer */
    padding: 20px;
}


#btn-cerrar-sesion {
    margin-top: 50px;
    /* Mucho más espacio con los horarios */
    background-color: #004488;
}

#btn-cerrar-sesion:hover {
    background-color: #003366;
}

/* Cuando el botón de reservar está deshabilitado */
#btn-reservar:disabled {
    background-color: gray;
    cursor: default;
}

/* Estilos para el encabezado (foto y bienvenidos)*/
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 26px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.btn-inicio {
    background-color: #004488;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 10px;
}

.btn-inicio:hover {
    /* Cambia de color al pasar el mouse */
    background-color: #003366;
}



.btn-dia {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}


.btn-horario {
    background-color: #e0e0e0;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}



/* Estilo para la burbuja de Login/Registro */
.form-tarjeta-fondo {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    width: 100%;
    max-width: 480px;
    margin: 50px auto;
    text-align: center;
}

/* Para que el titulo se vea mas lindo en la burbuja */
.form-tarjeta-fondo h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

/* Esto le dice al CSS "Busca cualquier botón DENTRO de la tarjeta y empújalo hacia abajo" */
.form-tarjeta-fondo button {
    margin-top: 50px;
}

/* Clase para cuando un botón de día está seleccionado */
.btn-dia.seleccionado {
    background-color: #004488;
    color: white;
    border: 1px solid #004488;
    transform: scale(1.05);
    transition: all 0.2s;
}

/* Clase para cuando un botón de día está seleccionado */
.btn-horario.seleccionado {
    background-color: #004488;
    color: white;
}


.mensaje-error {
    color: red;
    font-size: 18px;
    margin-top: 50px;
}

.mensaje-exito-reserva {
    color: green;
    font-size: 18px;
    margin-top: 50px;
}


/* Estilo para la burbuja de Login/Registro */
.form-tarjeta-fondo-reserva {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 680px;
    margin: 50px auto;
    text-align: center;
    
}

/* Para que el titulo se vea mas lindo en la burbuja */
.form-tarjeta-fondo-reserva h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.form-tarjeta-fondo-reserva-izquierda {
    text-align: left;
    /* Alinea el texto a la izquierda */
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    width: 100%;
    max-width: 320px;
    margin: 50px 50px;
    position: absolute ;
    left: 20px;
}

#contenedor-burbujas {
    display: flex;
    justify-content: center; /* Para centrar horizontalmente */
    gap: 40px;               /* Separa los paneles */
    align-items: flex-start;
    padding: 20px;
}




#panel-izquierda {
    display: flex;
    flex-wrap: wrap;       /* Si no entran, bajan a la siguiente línea */
    gap: 15px;             /* Esto le da espacio entre cada tarjeta */
    justify-content: center; /* Se alinean a la izquierda */
    padding: 20px;
}

/*Estilo para cada tarjeta de reserva */
.reserva-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;  
    padding: 15px;
    width: 250px;         
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.reserva-card p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}


.reserva-card button {
    background-color: rgb(245, 4, 4);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.reserva-card button:hover {
    background-color: rgb(114, 5, 5); 
}



/* Para las pantallas chicas*/
@media (max-width: 800px) {
    #contenedor-burbujas {
        flex-direction: column;
        align-items: center;
    }

    #foto-uruz-principal {
        height: 200px;       
        object-fit: cover;  
        object-position: center; 
        margin-top: 100px; 
    }

        #pantalla-inicio {
        margin-top: 65px; 
        padding-bottom: 50px; 
    }

    .form-tarjeta-fondo {
        margin-top: 100px;
    }

    .form-tarjeta-fondo-reserva {
        max-width: 90%;
    }

    .form-tarjeta-fondo-reserva button {
       margin-bottom: 15px; /* Esto los separa verticalmente */
   }

    .form-tarjeta-fondo-reserva-izquierda {
        position: static;
        margin: 20px 0;
        max-width: 90%;
    }
}




#panel-izquierda h3 {
    width: 100%;       /* Fuerza al título a ocupar toda la línea */
    text-align: center; /* Opcional: centra el texto */
    margin-bottom: 20px; /* Separa el título de las tarjetas */
}

#lista-reservas-admin {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   justify-items: center;
}

#btn-volver-a-reservas {
   margin: 25px;
   text-align: center;

}