# Carpetas de compilación de .NET
[Bb]in/
[Oo]bj/

# Configuraciones de VS Code
.vscode/

# Archivos de la base de datos local
*.db
*.mdf
*.ldf

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Configuración de publicación
appsettings.Development.json